* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 50px;
    background-color: #000000;
}

main {
    color: #000000;
}

html {
    background-color: #000000;
    background-attachment: scroll;
}

header {
    background: rgb(249,255,0);
    background: linear-gradient(90deg, rgba(249,255,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,1) 87%, rgba(249,255,0,1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 1cm;
}

nav {
    font-family: 'BioRhyme', serif;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffff99;
    color: #000000;
    text-decoration: none;
}

nav a { 
    color: #ffff99;
    text-decoration: none;
    padding: 0px 10px;

    
}

main {
    margin-top: 5rem;
    padding-bottom: 2rem;
    margin-bottom: 10rem;
}

.imgHome1:hover{
    filter: grayscale(100%);
    
}

.imgHome1 {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    transition: filter 1s ease-out 100ms

}

h1 {
    font-family: 'BioRhyme', serif;
    text-align: center;
    font-weight: bold ;
    text-justify: distribute;
    margin: 2rem 2rem 2rem 2rem;
    color: #ffffff;
    font-size: 3rem;
}

h1:hover {
    color: #ffff99;
}

h2 {
    font-family: 'BioRhyme', serif;
    text-align: center;
    font-weight: bold ;
    text-justify: distribute;
    margin: 4rem 4rem 4rem 4rem;
    color: #ffff99;
    font-size: 1.5rem;
}

.p1 {
    font-family: 'BioRhyme', serif;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    padding: 50px 0 50px;
    margin: 50px 0 50px;
}

.p2 {
    font-family: 'BioRhyme', serif;
    color: #ffffff;
    font-size: 1rem;
    text-align: right;
    padding: 50px 0 50px;
    margin: 50px 0 50px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "imgloser textloser textloser"
    "textcoach textcoach imgcoach"
    "img1 img2 img3"
    ;
}

.imgloser { grid-area: imgloser; }
.textloser { grid-area: textloser; }
.imgcoach { grid-area: imgcoach; }
.textcoach { grid-area: textcoach; }
.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }

.imgHome1 {height: 100%; width: 100%; padding: 2rem; border-radius: 1cm;}

.imgHome2 {
    border-radius: 8px;
    width: 50%;
    height: 100%; width: 100%; padding: 2rem; border-radius: 1cm;
}

h5 {
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
}
.carousel-item p {
    color: #ffffff;
    background-color: #000000;
}

.containerGal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "im1 im2 im3"
    "im4 im5 im6"
    ;
}

.im1 { grid-area: im1; }
.im2 { grid-area: im2; }
.im3 { grid-area: im3; }
.im4 { grid-area: im4; }
.im5 { grid-area: im5; }
.im6 { grid-area: im6; }


/* AULAS */



.divisionAulas {
    margin: 10px 100px 0 20px;
}

.listaAulas a {
    font-size: 1rem;
}
.listaAulas a:hover {
    font-weight: bold;
    background-color: #000000;
    color: #ffff99;
}

.gridAulas {
    display: grid;
    grid-template-columns: auto auto;
}

.divisionAulas {
    margin: 0px;
}

.aulasActivas {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    padding: 2px;
}

.aula {
    padding: 0 5px;
}

/* ABOUT US */

.titAboutUs {
    text-align: left;
    margin-left: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: bold;
    right: 1rem;
}
.titAboutUs2 {
    text-align:right;
    margin-right: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: bold;
    right: 1rem;
}

.textAu {
    color: #ffffff;
    font-family: 'BioRhyme', serif;
    font-size: 1rem;
}

.cajaImgAu {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

#imgAu {
width: 43rem;
}


/* CONTACTO */

label {
    color: #ffffff;
    font-family: 'BioRhyme', serif;
    display: inline-block;

}

.contenidoContacto {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 200px 0 200px;
}

#mapaContacto {
    display: flex;
}

.formularioContacto {
    display: grid;
    justify-content: center;
    margin: 30px 20px 0 20px;
    text-align: center;
}

.row {
    display: grid;
    justify-content: center;
}

.formularioContacto div {
    width: 100%;
}

button {
    font-family: 'BioRhyme', serif;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 2rem 2rem 2rem 2rem;
    border-style: groove;
}

footer p {
    font-family: 'BioRhyme', serif;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;

}

.footerContenedor {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    padding: 5px 0px 5px 0px;
}

.navFooter {
    display: block;
}

.mediosDepago {
    display: block
}

.contactoFooter {
    display: block;
}

.redesSociales {
    display: block;
    text-align: center;
}


a.movil {
    color: #fff;
    text-decoration: none;
    font-family: 'BioRhyme', serif;
    font-size: 0.75rem;
}

.contactoFooter span {
    font-family: 'BioRhyme', serif;
    font-size: 0.75rem;
}

.contactoFooter span:hover {
    color: #ffff99;
}

.contactoFooter a:hover {
    color: #ffff99;
}

.redesSociales a {
    text-decoration: none;
    color: #ffffff;
}

.redesSociales a:hover {
    color: #ffff99;
}

h3 {
    text-align:center;
    font-family: 'BioRhyme', serif;
    font-weight: bold;
    font-size: 1rem;
    color: #ffff99;
}

h4 {
    text-align: center;
    font-size: 0.75rem;
    font-family: 'BioRhyme', serif;
}


footer ul li { 
    text-align: left;
    font-family: 'Space Mono', monospace;
    list-style: none;
    font-size: 1rem;
    padding-left: 10px;
    
} 

.navFooter {
    padding-bottom: 20px;
}

.aboutMain {
    display: flex;
    flex-direction: column;
}

footer li a {
    color: #ffffff;
    text-decoration: none;
}

footer li a:hover {
    color: #ffff99;
}

footer p {
    font-family: 'Space Mono', monospace;
    font-size: 0.7rem;
}

